.catalog-cards__main-list {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #ededed;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.catalog-cards__main-item {
  display: flex;
  flex-direction: column;

  border-bottom: 1px solid #ededed;
  padding: 0 20px 24px;
}

@media (min-width: @tablet-width) {
  .catalog-cards {
    padding: 0 30px;
  }

  .catalog-cards__main-list {
    flex-direction: row;
    flex-wrap: wrap;

    border-top: 0;
  }

  .catalog-cards__main-item {
    justify-content: flex-end;

    border-bottom: 0;
    box-sizing: border-box;
    margin: 0 60px 58px 0;
    padding: 0 0 40px;
    width: 324px;

    &:nth-child(2n) {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

@media (min-width: 1152px) {
  .catalog-cards__main-list {
    justify-content: center;
  }

  .catalog-cards__main-item {
    &:nth-child(2n) {
      margin-left: 0;
      margin-right: 60px;
    }

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog-cards {
    margin: 0 auto;
    padding: 0 110px;
    width: 1220px;
  }

  .catalog-cards__main-list {
    justify-content: flex-start;
  }

  .catalog-cards__main-item {
    margin: 0 80px 61px 0;
    width: 245px;

    &:nth-child(2n),
    &:nth-child(3n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
