.form-content-header {
  margin: 0 0 15px;
  padding: 15px 20px 10px;

  color: #111111;
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

@media (min-width: @tablet-width) {
  .form-content-header {
    padding: 58px 30px 40px;

    font-size: 60px;
  }
}

@media (min-width: @desktop-width) {
  .form-content-header {
    margin: 0 auto 56px;
    padding: 75px 110px 0;
    width: 1220px;
  }
}
