/* ----- СТИЛИ ------- */
@bg-color-btn: #68b738;
@color-black: #000000;
@color-light-green: #68b738;
@color-white: #ffffff;
@font-arial: "Arial", "Verdana", sans-serif;
@main-color: #444444;

/* ----- ШИРИНА ЭКРАНОВ ------ */

@tablet-width: 768px;
@desktop-width: 1300px;

/* ----- РЕТИНОВАЯ ГРАФИКА ------ */

@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
