@main-color: #444444;
@bg-color-btn: #68b738;
@color-black: #000000;
@color-light-green: #68b738;
@color-white: #ffffff;
@tablet-width: 768px;
@additional-width: 1152px;
@desktop-width: 1440px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
